/* You can add global styles to this file, and also import other style files */
div {
  width: 250px;
  padding: 20px;
  display: block;
  text-align: center;
}

.padre {
  background-color: #abe4b8;
}

.hijo {
  background-color: #5af0f0;
}

.tamB {
  width: 53px;
  height: 53px;
  font-size: 20px;
}
